body{
    width: 100%;
    background-color: bisque;
}


.heading h1 {
    text-align: center;}

.content{
   width: 100%;
   display: flex;
    justify-content: center;
    padding: 20px 30px;
    align-content: space-between;
    
}
.label{
    font-size: x-large;
    font-weight: 200;
    font-style: normal;
    margin-left: 29px;
}

input {
    background-color: rgb(228, 221, 212);

}